body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:725px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:725px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:354px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1537 {
  position:absolute;
  left:0px;
  top:34px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:14px;
}
#u1538 {
  position:absolute;
  left:6px;
  top:4px;
  width:364px;
  height:14px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:-1px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1541 {
  position:absolute;
  left:18px;
  top:30px;
  width:19px;
  height:19px;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1542 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u1543 {
  position:absolute;
  left:37px;
  top:32px;
  width:17px;
  height:18px;
  font-size:48px;
  color:#CCCCCC;
}
#u1544 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:25px;
}
#u1545 {
  position:absolute;
  left:345px;
  top:25px;
  width:7px;
  height:25px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1547 {
  position:absolute;
  left:120px;
  top:97px;
  width:135px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1549 {
  position:absolute;
  left:44px;
  top:172px;
  width:333px;
  height:18px;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1551 {
  position:absolute;
  left:44px;
  top:200px;
  width:333px;
  height:18px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1553 {
  position:absolute;
  left:44px;
  top:287px;
  width:333px;
  height:19px;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  position:absolute;
  left:44px;
  top:317px;
  width:333px;
  height:18px;
}
#u1556 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1557 {
  position:absolute;
  left:44px;
  top:345px;
  width:333px;
  height:18px;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u1559 {
  position:absolute;
  left:44px;
  top:412px;
  width:298px;
  height:1px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:157px;
}
#u1562 {
  position:absolute;
  left:100px;
  top:454px;
  width:160px;
  height:157px;
}
#u1563 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  position:absolute;
  left:44px;
  top:229px;
  width:333px;
  height:19px;
}
#u1565 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1566 {
  position:absolute;
  left:44px;
  top:143px;
  width:307px;
  height:18px;
}
#u1567 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1568 {
  position:absolute;
  left:44px;
  top:259px;
  width:333px;
  height:18px;
}
#u1569 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u1570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1570 {
  position:absolute;
  left:64px;
  top:30px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1571 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1572 {
  position:absolute;
  left:110px;
  top:651px;
  width:140px;
  height:40px;
}
#u1573 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1574 {
  position:absolute;
  left:44px;
  top:374px;
  width:333px;
  height:18px;
}
#u1575 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
