body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:467px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:467px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:226px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:200px;
}
#u1708 {
  position:absolute;
  left:0px;
  top:467px;
  width:1px;
  height:200px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:467px;
}
#u1710 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:467px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:226px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:45px;
}
#u1712 {
  position:absolute;
  left:1px;
  top:512px;
  width:374px;
  height:45px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:155px;
}
#u1714 {
  position:absolute;
  left:0px;
  top:557px;
  width:374px;
  height:155px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:70px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1716 {
  position:absolute;
  left:0px;
  top:467px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1717 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1718 {
  position:absolute;
  left:17px;
  top:481px;
  width:73px;
  height:18px;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u1720 {
  position:absolute;
  left:336px;
  top:472px;
  width:26px;
  height:30px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:6px;
}
#u1722 {
  position:absolute;
  left:-23px;
  top:461px;
  width:398px;
  height:6px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:-5px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1724 {
  position:absolute;
  left:-1px;
  top:37px;
  width:19px;
  height:20px;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1725 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
