body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:467px;
}
#u1620 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:467px;
}
#u1621 {
  position:absolute;
  left:2px;
  top:226px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:200px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:467px;
  width:1px;
  height:200px;
}
#u1623 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:467px;
}
#u1624 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:467px;
}
#u1625 {
  position:absolute;
  left:2px;
  top:226px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:45px;
}
#u1626 {
  position:absolute;
  left:1px;
  top:512px;
  width:374px;
  height:45px;
}
#u1627 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:155px;
}
#u1628 {
  position:absolute;
  left:0px;
  top:557px;
  width:374px;
  height:155px;
}
#u1629 {
  position:absolute;
  left:2px;
  top:70px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1630 {
  position:absolute;
  left:0px;
  top:467px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1631 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1632 {
  position:absolute;
  left:17px;
  top:481px;
  width:73px;
  height:18px;
}
#u1633 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u1634 {
  position:absolute;
  left:336px;
  top:472px;
  width:26px;
  height:30px;
}
#u1635 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:6px;
}
#u1636 {
  position:absolute;
  left:-23px;
  top:461px;
  width:398px;
  height:6px;
}
#u1637 {
  position:absolute;
  left:2px;
  top:-5px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1638 {
  position:absolute;
  left:-1px;
  top:37px;
  width:19px;
  height:20px;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1639 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
