body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1681px;
  height:535px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:54px;
  width:1681px;
  height:535px;
}
#u2863 {
  position:absolute;
  left:2px;
  top:260px;
  width:1677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2864 {
  position:absolute;
  left:1518px;
  top:340px;
  width:30px;
  height:18px;
  color:#0066FF;
}
#u2865 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2866 {
  position:absolute;
  left:1518px;
  top:450px;
  width:30px;
  height:18px;
  color:#0066FF;
}
#u2867 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
