body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1163px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2749 {
  position:absolute;
  left:43px;
  top:32px;
  width:1120px;
  height:553px;
}
#u2750 {
  position:absolute;
  left:2px;
  top:268px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2752 {
  position:absolute;
  left:94px;
  top:64px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u2753 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2754 {
  position:absolute;
  left:166px;
  top:59px;
  width:161px;
  height:24px;
}
#u2755 {
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2757 {
  position:absolute;
  left:94px;
  top:104px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u2758 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2759 {
  position:absolute;
  left:166px;
  top:100px;
  width:161px;
  height:24px;
}
#u2760 {
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2762 {
  position:absolute;
  left:352px;
  top:63px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u2763 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2764 {
  position:absolute;
  left:425px;
  top:59px;
  width:161px;
  height:24px;
  color:#CCCCCC;
}
#u2765 {
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u2768 {
  position:absolute;
  left:439px;
  top:100px;
  width:161px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u2769 {
  position:absolute;
  left:8px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u2770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2770 {
  position:absolute;
  left:580px;
  top:112px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2771 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2772 {
  position:absolute;
  left:351px;
  top:100px;
  width:69px;
  height:52px;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2773 {
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2776 {
  position:absolute;
  left:439px;
  top:135px;
  width:161px;
  height:126px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2777 {
  position:absolute;
  left:8px;
  top:55px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2778 {
  position:absolute;
  left:440px;
  top:165px;
  width:160px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2779 {
  position:absolute;
  left:16px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2780 {
  position:absolute;
  left:440px;
  top:135px;
  width:160px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2781 {
  position:absolute;
  left:16px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2782 {
  position:absolute;
  left:440px;
  top:197px;
  width:160px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2783 {
  position:absolute;
  left:16px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u2784 {
  position:absolute;
  left:440px;
  top:229px;
  width:160px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2785 {
  position:absolute;
  left:16px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2786 {
  position:absolute;
  left:636px;
  top:92px;
  width:84px;
  height:40px;
}
#u2787 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u2788 {
  position:absolute;
  left:80px;
  top:281px;
  width:1061px;
  height:138px;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2789 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  color:#808080;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2791 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
  color:#808080;
}
#u2792 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2793 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:35px;
  color:#808080;
}
#u2794 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u2795 {
  position:absolute;
  left:300px;
  top:0px;
  width:153px;
  height:35px;
  color:#808080;
}
#u2796 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2797 {
  position:absolute;
  left:453px;
  top:0px;
  width:88px;
  height:35px;
  color:#808080;
}
#u2798 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2799 {
  position:absolute;
  left:541px;
  top:0px;
  width:136px;
  height:35px;
  color:#808080;
}
#u2800 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u2801 {
  position:absolute;
  left:677px;
  top:0px;
  width:114px;
  height:35px;
  color:#808080;
}
#u2802 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u2803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u2803 {
  position:absolute;
  left:791px;
  top:0px;
  width:148px;
  height:35px;
  color:#808080;
}
#u2804 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u2805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u2805 {
  position:absolute;
  left:939px;
  top:0px;
  width:117px;
  height:35px;
  color:#808080;
}
#u2806 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2807 {
  position:absolute;
  left:0px;
  top:35px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2808 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2809 {
  position:absolute;
  left:100px;
  top:35px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2810 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2811 {
  position:absolute;
  left:200px;
  top:35px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2812 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u2813 {
  position:absolute;
  left:300px;
  top:35px;
  width:153px;
  height:34px;
  color:#808080;
}
#u2814 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2815 {
  position:absolute;
  left:453px;
  top:35px;
  width:88px;
  height:34px;
  color:#808080;
}
#u2816 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
}
#u2817 {
  position:absolute;
  left:541px;
  top:35px;
  width:136px;
  height:34px;
  color:#808080;
}
#u2818 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u2819 {
  position:absolute;
  left:677px;
  top:35px;
  width:114px;
  height:34px;
  color:#808080;
}
#u2820 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
}
#u2821 {
  position:absolute;
  left:791px;
  top:35px;
  width:148px;
  height:34px;
  color:#808080;
}
#u2822 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u2823 {
  position:absolute;
  left:939px;
  top:35px;
  width:117px;
  height:34px;
  color:#3399FF;
}
#u2824 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2825 {
  position:absolute;
  left:0px;
  top:69px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2826 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2827 {
  position:absolute;
  left:100px;
  top:69px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2828 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2829 {
  position:absolute;
  left:200px;
  top:69px;
  width:100px;
  height:34px;
  color:#808080;
}
#u2830 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u2831 {
  position:absolute;
  left:300px;
  top:69px;
  width:153px;
  height:34px;
  color:#808080;
}
#u2832 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2833 {
  position:absolute;
  left:453px;
  top:69px;
  width:88px;
  height:34px;
  color:#808080;
}
#u2834 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
}
#u2835 {
  position:absolute;
  left:541px;
  top:69px;
  width:136px;
  height:34px;
  color:#808080;
}
#u2836 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u2837 {
  position:absolute;
  left:677px;
  top:69px;
  width:114px;
  height:34px;
  color:#808080;
}
#u2838 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
}
#u2839 {
  position:absolute;
  left:791px;
  top:69px;
  width:148px;
  height:34px;
  color:#808080;
}
#u2840 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u2841 {
  position:absolute;
  left:939px;
  top:69px;
  width:117px;
  height:34px;
  color:#808080;
}
#u2842 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2843 {
  position:absolute;
  left:0px;
  top:103px;
  width:100px;
  height:30px;
  color:#808080;
}
#u2844 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2845 {
  position:absolute;
  left:100px;
  top:103px;
  width:100px;
  height:30px;
  color:#808080;
}
#u2846 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2847 {
  position:absolute;
  left:200px;
  top:103px;
  width:100px;
  height:30px;
  color:#808080;
}
#u2848 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2849 {
  position:absolute;
  left:300px;
  top:103px;
  width:153px;
  height:30px;
  color:#808080;
}
#u2850 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2851 {
  position:absolute;
  left:453px;
  top:103px;
  width:88px;
  height:30px;
  color:#808080;
}
#u2852 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u2853 {
  position:absolute;
  left:541px;
  top:103px;
  width:136px;
  height:30px;
  color:#808080;
}
#u2854 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u2855 {
  position:absolute;
  left:677px;
  top:103px;
  width:114px;
  height:30px;
  color:#808080;
}
#u2856 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2857 {
  position:absolute;
  left:791px;
  top:103px;
  width:148px;
  height:30px;
  color:#808080;
}
#u2858 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2859 {
  position:absolute;
  left:939px;
  top:103px;
  width:117px;
  height:30px;
  color:#808080;
}
#u2860 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
